@import url("colors.css");

* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--background);
    color: var(--primary);
    font-family: 'IBM Plex Sans';
}
main {
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
header {
    display: flex;
    height: 4vh;
    width: 100%;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2rem solid var(--primary);
}
header > * {
    padding: 0.5rem;
    text-align: center;
    user-select: none;
    touch-action: none;
}
header p {
    font-size: 0.8rem;
    font-weight: 600;
}
header button {
    font-size: 1.2rem;
    border: 0;
    background: 0;
    color: var(--primary);
}
nav {
    position: absolute;
    width: 100%;
    height: 6vh;
    bottom: 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-top: 0.2rem solid var(--primary);
}
nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: var(--primary);
    text-decoration: none;
}
nav a.active {
    background: var(--primary);
    color: var(--background);
    font-weight: 700;
}
nav a p {
    font-size: 0.6rem;
    margin: 0.1rem;
    font-family: 'IBM Plex Sans';
    text-align: center;
}

nav a span.material-icons {
    font-size: 1.5rem;
}
.annotations {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
}
.annotations p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.slots {
    overflow: scroll;
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 2px;
}
.interval {
    text-align: center;
}
.slot {
    background: var(--slot);
    padding: 1rem;
    height: 1.5rem;
    border: 0;
}
.reserved {
    background-color: var(--red) !important;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marked {
    background-color: var(--marker) !important;
}
.apartment {
    padding: 0.6rem 0;
}
#book {
    padding: 0.5rem;
    margin: 0.25rem 1rem 1rem 1rem;
    width: calc(100% - 1.5rem);
    background: grey;
    color: lightgray;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
}
.greenlit {
    background-color: var(--green) !important;
    color: var(--color-light) !important;
}

button[data-interval="1"],
button[data-interval="3"],
button[data-interval="5"],
button[data-interval="7"],
button[data-interval="9"],
button[data-interval="11"],
button[data-interval="13"],
button[data-interval="15"],
button[data-interval="17"],
button[data-interval="19"],
button[data-interval="21"],
button[data-interval="23"] {
    background: var(--slot-light);
}

dialog {
    max-width: 100vw;
    width: 100%;
    height: 90vh;
    margin-top: calc(4vh);
    margin-bottom: calc(6vh);
    box-sizing: border-box;
    color: var(--primary);
    border: 0;
    background: rgba(0,0,0,0.9);
    font-size: 2rem;
    border-bottom: 0.2rem solid var(--primary);
    border-top: 0.2rem solid var(--primary);

}
dialog:modal {
    display: flex;
    flex-direction: column;
    align-items: center;;
    justify-content: center;
}
.close-dialog {
    border: 0;
    padding: 0.5rem;
    padding: 0.5rem;
}
dialog button {
    padding: 0.5rem;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background: var(--primary);
}
dialog button span {
    background: var(--primary);
    color: var(--background);
}
.dialog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.dialog-list form {
    margin: 0.5rem;
}
.dialog-list form button {
    border: 0;
    background: 0;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--primary);
}
#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc( 94vh - 0.2rem );
    overflow-y: hidden;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}
#settings > * {
    margin: 0.5rem;
}
#settings label {
    font-size: 2rem;
}
#settings input[type="number"] {
    appearance: textfield;
    padding: 1rem 2rem;
    background: 0;
    color: var(--primary);
    border: 0.2rem solid var(--primary);
    font-size: 1.5rem;
    text-align: center;
}
#settings button {
    padding: 1.2rem 1.6rem;
    border: 0;
    color: var(--primary);
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--green);
}
#confirmation {
    font-size: 2rem;
    margin: 0.2rem;
}
.hidden {
    visibility: hidden;
}