* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}
body {
    background: #111;
    color: white;
}
header {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}
nav {
    display: flex;
    align-items: center;
    width: 100%;
}
nav a {
    padding: 0 0.5rem;
    color: white;
}
header button {
    background-color: #111;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
    height: 2rem;
    margin-left: auto;
}
button:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
    margin: 0 1rem;
    align-self: center;
    font-size: 1.25rem;
}
.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}
.weeks {
    margin: 1rem;
}
.weeks button {
    padding: 0.5rem 2rem;
}
.booking-schedule {
    display: grid;
    grid-template-columns: auto repeat(21, 1fr);
    grid-template-rows: repeat(26, auto);
    gap: 1px;
    text-align: center;
}
.date, .weekday {
    grid-column: 3 span;
}
.date-monday, .monday {
    grid-column: 2 / 3 span;
}
.interval {
    justify-self: flex-end;
    padding: 0 0.5rem;
    font-size: 0.75rem;
}
.booking-schedule .slot {
    border: 0;
    padding: 0 0.1rem;
    border-radius: 0;
    min-width: 3ch;
    font-size: 0.75rem;
}
.booking-schedule button:hover {
    cursor: pointer;
    filter: brightness(1.05);
}
.booking-schedule > * {
    min-width: 1rem;
    min-height: 1rem;
}
.slot-title {
    font-weight: 700;
}
button[data-day="1"] {
    background-color: #d6e6ff;
}

button[data-day="2"] {
    background-color: #d7f9f8;
}

button[data-day="3"] {
    background-color: #ffffea;
}

button[data-day="4"] {
    background-color: #fff8df;
}

button[data-day="5"] {
    background-color: #fff0d4;
}

button[data-day="6"] {
    background-color: #fbe0e0;
}

button[data-day="7"] {
    background-color: #e5d4ef;
}
button[data-interval="00-01"],
button[data-interval="02-03"],
button[data-interval="04-05"],
button[data-interval="06-07"],
button[data-interval="08-09"],
button[data-interval="10-11"],
button[data-interval="12-13"],
button[data-interval="14-15"],
button[data-interval="16-17"],
button[data-interval="18-19"],
button[data-interval="20-21"],
button[data-interval="22-23"] {
    filter: brightness(0.95);
}

#book {
    padding: 0 1.5rem;
    margin: 1rem;
    font-weight: 700;
}

input#apartment {
    width: 3ch;
    font-size: 1.25rem;
    appearance: textfield;
    margin: 1rem;
    padding: 0 3ch;
    margin-left: 0.5rem;
    color: #111;
}

#book {
    color: #333;
    background-color: darkgray;
    font-size: 1.5rem;
}

#book:hover {
cursor: not-allowed;
}

#book.greenlit {
    background-color: #44ff88;
    color: darkgreen;
}

#book.greenlit:hover {
    cursor: pointer;
}

label[for="apartment"] {
    font-size: 1rem;
    margin: 1rem 0;
    padding: 1rem 0;
}

button.slot.reserved {
    background: #f66;
    color: #111;
    font-weight: 700;
}

button.slot.reserved:hover {
    cursor: not-allowed;
}

.weekday {
    font-weight: 700;
    font-size: 0.9rem;
}

.machine-number {
    font-weight: 900;
    font-size: 0.8rem;
    align-self: flex-end;
}

.weekpicker {
    margin: 0 1rem;
}

.weekdates {
    font-weight: 600;
    font-size: 0.75rem;
}

.reservation-week {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.reservation-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 36ch;
}
.cancel-reservation {
    background: 0 !important;
    border: 0;
}
.cancel-reservation > span {
    color: #f66;
}

.cancel-all-reservations {
    min-width: 36ch;
    background-color: #f66;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.cancel-reservation > span:hover, .cancel-all-reservations:hover {
    cursor: pointer;
    filter: brightness(1.1);
}