{% extends "layout.html" %}
{% if locale %}
    {% block locale %}{{ locale }}{% endblock %}
{% endif %}
{% block title %}{{ 32 | localize(locale=locale) }}: {{ 3 | localize(locale=locale) }}{% endblock %}
{% block content %}

<div class="centered weeks">
    <form action="{{ url_for('booking') }}" method="get">
        <input type="hidden" name="week" value="{{ week - 1 }}">
        <button type="submit" class="previous-week">{{ 23 | localize(locale=locale) }} {{ week - 1 }}</button>
    </form>
    <div class="weekpicker">
        <h1 id="week" data-week="{{week}}">{{ 23 | localize(locale=locale) }} {{ week }}</h1>
        <p class="weekdates">{{ week | format_week_interval('start') }} - {{ week | format_week_interval('end') }}</p>
    </div>
    <form action="{{ url_for('booking') }}" method="get">
        <input type="hidden" name="week" value="{{ week + 1 }}">
        <button type="submit" class="next-week">{{ 23 | localize(locale=locale) }} {{ week + 1 }}</button>
    </form>
</div>
<div class="centered">
<section class="booking-schedule">
    <p class="weekday monday">{{ 25 | localize(locale=locale) }}</p>
    <p class="weekday tuesday">{{ 26 | localize(locale=locale) }}</p>
    <p class="weekday wednesday">{{ 27 | localize(locale=locale) }}</p>
    <p class="weekday thursday">{{ 28 | localize(locale=locale) }}</p>
    <p class="weekday friday">{{ 29 | localize(locale=locale) }}</p>
    <p class="weekday saturday">{{ 30 | localize(locale=locale) }}</p>
    <p class="weekday sunday">{{ 31 | localize(locale=locale) }}</p>
    <p class="slot-title">{{ 9 | localize(locale=locale) }}</p>
    {% for day in range (1, 8) %}
        {% for machine in range (1, 4) %}
        <p class="machine-number">{{machine}}</p>
        {% endfor %}
    {% endfor %}
    {% for interval in range(0, 24) %}
        <p class="interval">{{ interval | format_interval() }}</p>
        {% for day in range (1, 8) %}
            {% for machine in range (1, 4) %}
                    <button
                        class="slot"
                        data-interval="{{interval}}"
                        data-machine="{{machine}}"
                        data-day="{{day}}"
                        onclick="addSlot(event)"
                    >
                    &nbsp;
                    </button>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</section>
</div>
<div class="centered">
    <label for="apartment">{{ 12 | localize(locale=locale) }}:</label>
    <input type="number" min="140" max ="160" length="3" name="apartment" id="apartment" {% if apartment %}value="{{apartment}}"{% endif %}>
    <button type="submit" id="book" onclick="setApartmentPreference();bookSlots()">{{ 10 | localize(locale=locale) }}</button>
</div>
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        updateReservedSlots();
    });
</script>
{% endblock %}