{% extends "layout_mobile.html" %}
{% if locale %}
    {% block locale %}{{ locale }}{% endblock %}
{% endif %}
{% block title %}{{ 32 | localize(locale=locale) }}: {{ 5 | localize(locale=locale) }}{% endblock %}
{% block content %}
    <section id="settings">
        <label for="apartment">{{ 12 | localize(locale=locale) }}</label>
        <input type="number" min="140" max ="160" length="3" name="apartment" id="apartment" {% if apartment %}value="{{apartment}}"{% endif %}>
        <button type="submit" onclick="setApartmentPreference();updateApartment();confirmSettings()">{{ 39 | localize(locale=locale) }}</button>
        <p id="confirmation" class="hidden">✅</p>
    </section>
    <script>
        function confirmSettings() {
            elem = document.getElementById('confirmation');
            elem.classList.remove('hidden');
            setTimeout(() => { elem.classList.add('hidden') }, 5000);
        }
    </script>
{% endblock %}