{% extends "layout_mobile.html" %}
{% if locale %}
    {% block locale %}{{ locale }}{% endblock %}
{% endif %}
{% block title %}{{ 32 | localize(locale=locale) }}: {{ 5 | localize(locale=locale) }}{% endblock %}
{% block content %}
    <section id="settings">
        <label for="apartment">{{ 12 | localize(locale=locale) }}</label>
        <input type="number" min="140" max ="160" length="3" name="apartment" id="apartment" {% if apartment %}value="{{apartment}}"{% endif %}>
        <label for="lang">{{ 42 | localize(locale=locale) }}</label>
        <select name="lang" id="lang">
            <option value="en">{{ 15 | localize(locale=locale) }}</option>
            <option value="da">{{ 16 | localize(locale=locale) }}</option>
        </select>
        <label for="theme">{{ 41 | localize(locale=locale) }}</label>
        <select name="theme" id="theme">
            <option value="dark">{{ 13 | localize(locale=locale) }}</option>
            <option value="light">{{ 14 | localize(locale=locale) }}</option>
        </select>
        <button type="submit" onclick="saveSettings()">{{ 39 | localize(locale=locale) }}</button>
    </section>
{% endblock %}